<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Upload Example</title>
    <link rel="stylesheet" href="/upload.css">
</head>
<body>
<div class="container">
    <div class="image-upload" id="image-upload">

        <!-- Form with POST method to upload the image -->
        <form method="post" action="/upload" enctype="multipart/form-data" id="uploadForm">
            <div class="button">
                <label for="chooseFile">
                    [ 사진 고르기 ]
                </label>
            </div>
            <input type="file" id="chooseFile" name="chooseFile" accept="image/*" onchange="loadFile(this)">
        </form>

        <div class="fileContainer">
            <div class="fileInput">
                <p>FILE NAME: </p>
                <p id="fileName"></p>
            </div>
            <div class="buttonContainer">
                <div class="submitButton" id="submitButton" onclick="submitForm()">SUBMIT</div>
            </div>
        </div>
    </div>

    <div class="image-show" id="image-show"></div>
</div>
<script src="/upload.js"></script>
</body>
</html>
