# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml


# Gradle 캐시 파일 무시
.gradle/

# IntelliJ IDEA 설정 파일 무시
.idea/